<div id="sidebar">
	<!-- <h2>Search</h2>
	<form method="get" id="sform" action="#">
		<label for="q">Search:</label>
		<input type="text" id="q" value="" name="q" size="15" />
	</form> -->
	<%=side_content%>
</div>
